<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <title>Web ZOOM</title>
  <link rel="stylesheet" href="./public/css/join.css">
</head>

<body>
  <div class="container">
    <!-- Header -->
    <header>
      <div class="header-inner">

        <div class="logo">
          <h1>Web ZOOM</h1>
        </div>

        <div class="menu">
          <a href="login.html" id="loginmenu">로그인</a>
          <a href="join.html" id="joinmenu">회원가입</a>
          <a href="room.html" id="roommenu">방 입장</a>
        </div>

      </div>
      <div class="trigger"></div>
      <!--크기 일정하게 맞춰주는 역할-->
    </header>
  </div>